@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Orena;
    src: url('Orena.ttf') format("truetype");
}
@font-face {
    font-family: TIEWing;
    src: url('TIEWing.ttf') format("truetype");
}


body {
    margin: 0px;
    padding: 0px;
    cursor:default;
    font-family: TIEWing;
}
ul {
    list-style:none;
	padding:0;
}
/* Main menu styles*/
.bigger {
    font-size:125%;
}
#splash {
	margin-top:2%;
	width:95%;
	height:90%;
	border:#1FFFFF 10px solid;
    border-radius:4px;
    opacity:0.95;
}
#main {
	background:url(images/space.png) repeat scroll 0 0;
	border:1px solid #999;
    color:#00E8E8;
	font-size:30px;
	height:598px;
	text-align:center;	
	width:1022px;
}
#menu p, #menu h2, #menu .exit {
	opacity:0.8;
}
#main li, #setting2 li {
	margin: 15px 0;
    height: 80px;
    line-height: 70px;
}
#menu div:active {
	background:#1FFFFF;
    color:#090708;
}

#menu {
    color:#1FFFFF;
	opacity:0.9;
	background:#aaa;
	float:right;
	height:100%;
	width:320px;
	text-align:right;
}

#menu h2 {
    font-size:160%;
	margin:0 15px 0 0;
}
#menu div {
    border-radius:4px;
	border:#1FFFFF 2px solid;
    margin:10px;
}
#menu div p {
    padding: 10px 15px 8px 0;
    margin: 0;
}
.newgame {
	color:#FF2B2B;
}
#credit h2 {
    margin:40px 0 0;
}
#credit p {
    margin:15px 0;
}
#credit img {
    border-radius:4px;
    border:#1FFFFF 2px solid;
    margin-bottom:10px;
}
#setting1 li:active, #setting2 li:active, .yes:active, .no:active {
    color:red;
}
#help, #setting {
    width:704px;
}
#help img {
	border:solid 2px cyan;
}
#credit {
    /*position:relative;
    top:600px;*/
}

.exit p {
    padding:0;
    margin:0;
    margin-right:15px;
}

/* In game layout */
#myCanvas {
    width:75%;
    height:598px;
    background:url(images/space.png) repeat scroll 0 0;
    float:left;
}
#gamefield {
    background:#999;
    border:1px solid #999;
    color:#67EFE9;
    font-size:30px;
    width:1022px;
    height:598px;
}
#ui {
    background:url('images/InterfaceBackground.png');
    float:right;
    height:598px;
    width:25%;
    text-align:center;
}
#ui table {
    margin:0 auto;
}
.keypad {
    border:#67EFE9 2px solid;
    border-radius:4px;
    font-size:18px;
	width:60px;
	height:50px;
    line-height:50px;
	text-align:center;

}
/* gradient button from http://gradients.glrzad.com/ */
.keypad:active {
    background:#67EFE9;
    color:#090708;
}
#input {
    background:black;
    border-radius:16px;
    font-size:18px;
    width:150px;
    height:26px;
    line-height:26px;
    margin: 24px auto 10px;
}
#result {
	height:30px;
    font-size:18px;
}
#buttons div {
    border:#67EFE9 2px solid;
    border-radius:4px;
    margin:10px 28px;
    padding:4px 0;
}
#buttons div:active, #pauseScreen div:active, #levelComplete div:active {
    background:#67EFE9;
    color:#090708;
}
#pauseScreen {
    margin-top:100px;
}
#pauseScreen div {
    border:#67EFE9 2px solid;
    border-radius:4px;
    margin:20px 28px;
    padding:8px 0;
}
#setting2, #shop, #mainmenu, #help2 {
    position:fixed;
    text-align:center;
    width:768px;
}

#shop div{
    float:left;
    margin:0 20px;
    width:150px;
    height:150px;
}
#shop img {
    border:#67EFE9 2px solid;
    border-radius:4px;
}
#shop div p {
    margin:15px 0;
}
#shop div span {
    border:#67EFE9 2px solid;
    border-radius:4px;
    padding:4px 25px;
}
#shop div span:active {
    background:#67EFE9;
    color:#090708;
}
.yes, .no {
    margin:0 15px;
}
#levelComplete {
    width: 500px;
    position: absolute;
    top: 120px;
    text-align: center;
    left: 140px;
    opacity: 0.90;
    border-radius:4px;
    background:url("images/levelbackground.png") #333;
}
#levelComplete div{
    float: left;
    border: #67EFE9 2px solid;
    border-radius: 4px;
    margin: 0 25px 20px 35px;
    padding: 8px 0;
    width: 180px;
}
#leftPanel {
    position: absolute;
    margin: 5px;
}
#rightPanel {
    position: absolute;
    left: 640px;
    margin: 5px;
}
