@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Orena;
    src: url('Orena.ttf') format("truetype");
}
@font-face {
    font-family: Starjedi;
    src: url('Starjedi.ttf') format("truetype");
}
@font-face {
    font-family: TIE-Wing;
    src: url('TIE-Wing.ttf') format("truetype");
}
@font-face {
    font-family: Shadow-of-Xizor;
    src: url('Shadow-of-Xizor.ttf') format("truetype");
}

body {
    margin: 0px;
    padding: 0px;
    cursor:default;
    font-family: TIE-Wing;
}
/* Main menu styles*/
.bigger {
	font-size:125%;
}
#splash {
	margin-top:2%;
	width:95%;
	height:90%;
	border:#00E8E8 10px solid;
    opacity:0.95;
}
#main {
	background:url(space.png) repeat scroll 0 0;
	border:1px solid #999;
    color:#00E8E8;
	font-size:30px;
	height:600px;
	text-align:center;	
	width:1024px;
}
#menu p, #menu h2, #menu .exit {
	opacity:0.8;
}
#main ul {
	list-style:none;
	padding:0;
}
#main li {
	margin:45px 0;
}
#main p:active, .exit:active, li:active {
	background:#00E8E8;
    color:#090708;
}
#menu {
	opacity:0.9;
	background:#aaa;
	float:right;
	height:100%;
	width:320px;
	text-align:right;
}

#menu h2 {
    font-size:150%;
	margin:0 15px 0 0;
}
#menu div {
    border-radius:5px;
	border:#00E8E8 2px solid;
    margin:10px;
}
#menu div p {
    padding: 10px 15px 8px 0;
    margin: 0;
}
.newgame {
	color:#FF2B2B;
}
/*.credit {
    float:left;
    border:0!important;
}*/
#help, #setting {
    opacity:0.9;
    width:704px;
}
#help img {
	border:solid 2px cyan;
}
#credit {
    /*position:relative;
    top:600px;*/
}

.exit p {
    padding:0;
    margin:0;
    margin-right:15px;
}

/* In game layout */
#myCanvas {
    width:75%;
    height:100%;
    background:url(space.png) repeat scroll 0 0;
    float:left;
}
#gamefield {
    background:#999;
    border:1px solid #999;
    color:#67EFE9;
    width:1024px;
    height:600px;
}
#ui {
    background:url('interface background.png');
    float:right;
    height:600px;
    width:25%;
    text-align:center;
    font-size:18px;
}
#ui table {
    margin:0 auto;
}
.keypad {
    border:#67EFE9 2px solid;
    border-radius:4px;
	width:60px;
	height:50px;
    line-height:50px;
	text-align:center;

}
/* gradient button from http://gradients.glrzad.com/ */
.keypad:active {
    background:#67EFE9;
    color:#090708;
}
#input {
    background:black;
    border-radius:16px;
    width:150px;
    height:26px;
    line-height:26px;
    margin: 10px auto;
}
#result {
	height:30px;
}
#buttons div {
    font-size:36px;
    margin:8px auto;
}
#buttons div:active {
    background:#67EFE9;
    color:#090708;
}
#pauseScreen {
    height:600px;
}
#optical {
    background:gray;
    height: 600px;
    opacity: 0.65;
    position: fixed;
    top: 0;
    width: 1024px;

}
#content {
    height: 600px;
    position: fixed;
    top: 0;
    width: 1024px;

}
.pause {
    
}

